// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
html{height: 100%;}
body{min-height: 100%; display: flex;}

.skip-link.screen-reader-text{
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
.wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	width: 100%;
	min-height: 100%;
	flex-wrap: wrap;
	background-color: $white;
}

.main-container {
	width: 100%;
}
