// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/*--- footer ---*/
.main-footer {
	width: 100%;
	height: auto;
	line-height: normal;
	background-color: $secondary;
}
